<% client = Client.create(user: current_user) %>
<h1 class="display-4">welcome
          <% client = Client.create(user: current_user) %>
          <%= client.user.first_name %>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, required: true, autofocus: true, label: "First Name", input_html: { class: "input-icon", autocomplete: "off" } %>
    <%= f.input :last_name, required: true, label: "Last Name", input_html: { class: "input-icon", autocomplete: "off" } %>
    <%= f.input :email, required: true, label: "Email", input_html: { class: "input-icon", autocomplete: "off" } %>
    <%= f.input :address, required: true, label: "Address", input_html: { class: "hi", autocomplete: "off" } %>
      <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { class: "input-icon", autocomplete: "current-password" } %>
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { class: "input-icon", autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { class: "input-icon", autocomplete: "new-password" } %>



  <div>
    <%= f.button :submit, "Update", class: "cancel-button" %>
  </div>
<% end %>

<div class ="d-flex align-items-center justify-content-center">
<div >
 <%= button_to "Cancel my account", registration_path(resource_name), class: "cancel-button" %>
</div>
<div >
  <%= link_to "Back", :back, class: "back-link" %>
</div>
</div>
</div>
