<% owner = current_user.owner %>

<div class="containersara">
  <div class="sidebarsara">
    <% if owner.user.profile_photo.key.blank?%>
    <div class="owner-photo">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" , class: "profile-img-sara"%>
  </div>
  <%else%>
  <div class="owner-photo">
      <%= cl_image_tag owner.user.profile_photo.key , class: "profile-img-sara"%>
      </div>
  <%end%>
    <div class="owner-info">
      <p><span class="bold">Name:  </span><%= owner.user.first_name %> <%= owner.user.last_name %></p>
      <p><span class="bold">Address:  </span><%= owner.user.address %></p>
      <p><span class="bold">Email:  </span><%= owner.user.email %></p>
      <p><span class="bold">my role:  </span><%= owner.user.role %></p>
       <button class="btn btn-primary mb-2 request-btn"><%= link_to "Car rent requests", bookings_path, style: "color: white; text-decoration: none;"  %></button>
      <!-- Add more owner information here -->
    </div>
  </div>
  <div class="my-offers">
    <div style="margin-left: 440px"><button class="btn btn-primary mb-2"><%= link_to "Add a new car", new_car_path, style: "color: white; text-decoration: none;" %></button></div>
    <% cars = owner.cars %>
        <% cars.each do |car| %>
    <div class="col-lg-4 car-container align-items-center justify-content-center d-flex p-4 position-relative me-5 mb-4">
        <div>
          <% if car.photo.key.nil?%>

          <img class="car-image" src="https://hips.hearstapps.com/hmg-prod/images/img-1484-jpg-649644d3c1386.jpg?crop=0.571xw:0.762xh;0.240xw,0.195xh&resize=1200:*" alt="car-image">
          <% else %>
          <%= cl_image_tag car.photo.key, class:"car-image" %>
          <%end%>
          </div>
        <div class="car-details py-3 px-4">
          <h5><strong><%= car.brand %> <%= car.model %></strong></h5>
          <h5>Description: <%= car.description %></h5>
          <p>price for one day:  </span><%= car.price %></p>
        </div>
        <button class="btn btn-danger position-absolute bottom-0 end-0 me-3 my-2"><%= link_to "Delete", car_path(car)  ,  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, style: "color: white; text-decoration: none;" %></button>
       </div>
       <% end %>

  </div>
</div>
