<!DOCTYPE html>
<html>
<head>
  <title>Profile Client</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>
  <!-- Barre de navigation en haut -->
    <% client = current_user.client %>
  <!-- Contenu principal de la page -->
  <main>
    <!-- Barre latérale à droite -->
    <!-- Contenu de la page -->
    <section>
       <h1 class="display-4 hhh">Welcome

          <%= client.user.first_name %>
          </h1>
      <div id="contentContainer" class="container-profile centered">
<div class="owner-photo">
  <% if client.user.profile_photo.key.nil?%>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" , class: "profile-img-sara"%>
  <%else%>
      <%= cl_image_tag client.user.profile_photo.key , class: "profile-img-sara"%>
  <%end%>
      <!-- Add code to display owner's photo here -->
    </div>
        <div>
          <h3><%= client.user.first_name %> <%= client.user.last_name %></h3>
          <p>Email:</p><p> <h3><%= client.user.email %></h3>
          <p>Adresse:</p><p><h3> <%= client.user.address %></h3>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        </head>
        <body>
          <!-- Barre de navigation en haut -->
          <div>
           <button id="menuIcon"><i class="fas fa-bars"></i> Menu</button> <!-- Add menu icon button -->
          <aside class="sidebar">
  <ul>
    <li>
      <a href="/profile" id="link3">
        <i class="fas fa-home"></i>Accueil profile
      </a>
    </li>
    <li>
       <%= link_to edit_user_registration_path(current_user) do %>
        <i class="fas fa-edit"></i>Editer le profil
      <% end %>
    </li>
    <li>
       <%= link_to  bookings_path(current_user) do %>
        <i class="fas fa-edit"></i>Editer la réservation
      </a>
    </li>
<% end %>
  </ul>
</aside>
          </div>
          <script>
          const sidebar = document.querySelector(".sidebar");
           const menuIcon = document.getElementById("menuIcon");
menuIcon.addEventListener("click", () => {
  sidebar.classList.toggle("open")
});
// Function to close the sidebar
function closeSidebar() {
  sidebar.classList.remove("open");
}
const link3 = document.getElementById("link3");
link3.addEventListener("click", (e) => {
  e.preventDefault();
  // Add the logic for link3, if needed
  closeSidebar();
});
        </script>
        </body>
        </html>
      </div>
    </section>
  </main>
  <!-- Barre de navigation en bas -->
  <footer>
    <!-- Contenu de la barre de navigation en bas -->
  </footer>
</body>
</html>
